body {
  /* Remove empty scrolling */
  margin: 8px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-column {
  flex: 1;
  margin-right: 50px;
}

.left-column p {
  font-size: 1.5em;
  line-height: 1.3;
  text-align: justify;
}

.right-column {
  flex: 0 0 300px;
  /* Fixed width for the right column */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centers the image and social icons horizontally */
}

.image-container img {
  max-width: 100%;
  /* Ensures the image scales within its container */
  height: auto;
  border-radius: 15px;

  /* filter: grayscale(1); */
  /* border-radius: 50%; /* Makes the image circular */
  /* object-fit: cover; /* Ensures the image fits within the circle */
  /* width: 300px; /* Set the desired width */
  /* height: 300px; /* Set the same value as width to make it a square */
}


ul.gk-social-icons-list {
  padding: 0;
}

.home-about.container {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* justify text */
p {
  text-align: justify;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .home-content {
    /* Stack elements in the same row in reverse:
    in the html the text comes before the pcitures, but I want the opposite 
    on mobile screens */
    flex-direction: column-reverse;
    align-items: center;
  }

  .left-column {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .left-column p {
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
  }

  .right-column {
    flex: 1;
    width: 100%;
    max-width: 300px;
    /* Optional: limits the image width on small screens */
    margin: 0 auto;
    /* Centers the right column */
  }

  /* Add this to remove justification from ALL paragraphs on mobile */
  p {
    text-align: left;
  }

  
}
