{{ define "main" }}
<section class="home-content">
  <div class="left-column">
    {{ .Content }}
  </div>
  <div class="right-column">
    <div class="image-container">
      {{ if .Params.homepageImage }}
        <img src="{{ .Params.homepageImage }}" alt="Photograph">
      {{ end }}
    </div>
    <div class="social-icons">
      {{ if isset .Site.Params "socialicons" }}
        <ul class="gk-social-icons-list">
          {{ range .Site.Params.SocialIcons }}
            <li class="gk-social-icon">
              <a href="{{ .url }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} aria-label="Learn more on {{ .name }}">
                <img class="svg-inject" src="{{ relURL "svg/icons/" }}{{ .name | lower }}.svg" alt="">
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}